name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Test and deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    
    - name: Install dependencies
      run: dotnet restore
      
    - name: Build dotnet
      run: dotnet build --configuration Release --no-restore
      
    - name: Publish NuGet
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: 'Flutterwave/Flutterwave.csproj'
        NUGET_KEY: ${{ secrets.NUGET }}
      
    - name: Start github package
      run: dotnet nuget add source https://nuget.pkg.github.com/Bracketcore/index.json -n github -u Bracketcore -p ${{secrets.GH_PACKAGE_PAUL}} --store-password-in-clear-text 
 
    - name: publish to github package
      run: dotnet nuget push "Flutterwave/bin/Release/*.nupkg" --source "github"
